* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Assistant', sans-serif;
  background-image: url(../img/pexels-photo-128639.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#container{
  width: 80%;
  margin: auto;
}
/* INTESTAZIONE PAGINA */
.header_top{
  color: white;
  height: 90px;
  line-height: 90px;
  border-bottom: groove 2px;
}

.logo{
  height: 80px;
  vertical-align: middle;
}

#title_logo {
  display: inline;
  vertical-align: middle;
}


.search {
  margin: 5px;
}

.unread {
  margin-bottom: 7px;
  border-bottom: groove 2px;
  color: white;
}

#search_button {
  border-radius: 12%;
}
/* MAIL NON LETTE */
span {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 4px;
  background:  #ffa500;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 100%;
  margin: 2px;
  }

/* ELENCO MAIL */
.email_box {
  display: inline:
}

p{
  display: inline;
}

.emails {
  border: 1px solid black;
  background: lightgrey;
  padding: 3px
  }

.read {
  background: white;
}

.email_box {
  vertical-align: middle;
}

#inbox {
  border-bottom: groove 2px;
}

.borders {
  margin-bottom: 5px;
}

/* FOOTER */
footer {
background-color: lightgrey;
margin: 5px;
text-align: center;
font-style: italic;
font-family: sans-serif;
}
